* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: #0e0f19;
}

.display-clock {
  background-color: #466060;
  height: 70px;

  position: sticky;
  top: 0;
  width: 100%;
  z-index: 100;
}

.clock {
  text-align: center;
  color: white;
  font-size: 3.25rem;
}

.section {
  width: 100%;
  position: relative;
  height: 90vh;
}

/* #Section1 {
    background: pink;
}

#Section2 {
    background: blue;
}

#Section3 {
    background: violet;
} */
